body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    background-color:#ffffff;
    font-size: medium;
    font-family:Verdana,Arial,sans-serif;
}

h1 {
}

h2 {
}


pre {
    margin: 10px 0px 0px 0px;
}


.bullet {
    list-style-type:disc;
}


.section {
    page-break-before: always;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
    background-color:#ffffff;
    font-size: large;
    font-family:Verdana,Arial,sans-serif;
}


.item {
    margin: 10px 0px 0px 0px;
    width: 800px;
    padding: 0px 0px 0px 20px;
    background-color:#ffffff;
    font-size: medium;
    font-weight: normal;
    font-family:Verdana,Arial,sans-serif;
}


.sectiontitle {
    font-weight: bold;
    margin: 10px 0px 20px 0px;
    color:#000000;
    width: 800px;
}


.title {
    font-weight: bold;
    margin: 10px 0px 20px 0px;
    border:1px solid #666666;
    color:#000000;
    width: 800px;
    border-width:auto;
}


.width {
    max-width:800px;
}


.snippet {
    background-color:#F7F7F7;
    border:1px dashed #666666;
    color:#000000;
    padding:0px;
    border-width:auto;
    font-family:Courier new;
    width:800px;
    margin:10px 20px 20px 0px;
}


#blue {
    font-weight: bold;
    color:#0000FF;
}

